<section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function change_quantity(cart_id, product_id, user_id, count) {
    let quantity = parseInt(document.getElementById(product_id).innerHTML);
    count = parseInt(count);
    user_id = new Object(user_id)

    $.ajax({
      url: '/change_product_quantity',
      data: {
        cart: cart_id,
        user: user_id,
        product: product_id,
        count: count,
        quantity: quantity
      },
      method: 'post',
      success: (response) => {
        if (response.product_removed) {
          alert('Product removed from cart')
          location.reload()
          
        }
        else {
          document.getElementById(product_id).innerHTML = quantity + count
          document.getElementById('total').innerHTML = response.total
          location.reload()//to reload the page automatically after changes
        }
      }
    });
  }

</script>
<section class="h-100 h-custom " style="background-color: white">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
              <div class=" card-registration" style="">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-8">
                      <div class="p-5">
                        {{#each user_cart}}
                        <div class="row mb-4 d-flex justify-content-between align-items-center">
                          <div class="col-md-2 col-lg-2 col-xl-2">
                            <img
                              src="/product_images/{{this.product._id}}.jpg"
                              class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-3">
                            <h6 class="text-muted">{{this.product.Category}}</h6>
                            <h6 class="mb-0">{{this.product.Name}}</h6>
                          </div>
                          <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                            <button class="btn btn-outline-danger"
              onclick="change_quantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1)">-</button>
      
                          <h5 id="{{this.product._id}}">{{this.quantity}}</h5>

                            <button class="btn btn-outline-success"
              onclick="change_quantity('{{this._id}}','{{this.product._id}}','{{../user}}',1)">+</button>

                          </div>
                          <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                            <h6 class="mb-0">₹ {{this.product.Price}}</h6>
                          </div>
                          <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                            <a href="/remove_product?cart_id={{this._id}}&&product_id={{this.product._id}}"  
                            class="btn btn-danger">X</a>
                          </div>
                        </div>
      
                        <hr class="my-4">
                        {{/each}}
                        <div class="pt-5">
                          <h6 class="mb-0"><a href="/" class="text-body" style="text-decoration: none;">Back to shop</a></h6>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4" style="background-color: #F3F4F6;">
                      <div class="p-5">
                        <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-4">
                          <h5 class="text-uppercase">Total </h5>
                          <h5 id="total">₹ {{total.total}} </h5>
                        </div>
                        <h5 class="text-uppercase mb-3">Give code</h5>
      
                        <div class="mb-5">
                          <div data-mdb-input-init class="form-outline">
                            <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                          </div>
                        </div>
      
                        <hr class="my-4">
      
                        <div class="d-flex justify-content-between mb-5">
                          <h5 class="text-uppercase">Total price</h5>
                          <h5 id="total">₹ {{total.total}} </h5>
                        </div>
                        <a href="/place_order" class="btn text-white bg-gray-700">Place Order</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</section>