<section>

  
      <form id="checkout_form" action="" method="post" class="max-w-sm mx-auto">
        <div class="mb-4">
          <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Address</label>
          <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          id="address" name="address" />
        </div>
        <div class="mb-4">
          <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Pincode</label>
          <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
          id="pincode" name="pincode" />
        </div>
        <div class="form-group">
          <label for="" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Mobile Number</label>
          <input
            type="text"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            id="mobilenumber"
            name="mobilenumber"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="user_id"
            name="user_id"
            value="{{user._id}}"
            hidden
          />
        </div>
        <br />
        <h5 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Total Amount:
          <span style="font-weight: bold;"> ₹ {{total.total}}</span></h5>
        <input type=""  name="total_amount" value="{{total.total}}" hidden>
        {{#if condition}}
        <input type="text" name="condition" id="condition" value="{{condition}}" hidden >
        <input type="text" name="product_id" id="product_id" value="{{product_id}}" hidden >
        {{/if}}
        <label for="" class="float-start block  text-sm font-medium text-gray-900 dark:text-white">
          Payment Method:</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            value="COD"
            id="COD"
          />
          <label class="form-check-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            COD
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="payment_method"
            value="ONLINE"
            id="ONLINE"
          />
          <label class="form-check-label block mb-2 text-sm font-medium text-gray-900 dark:text-white">
            Online Payment
          </label>
        </div>
        <button
          type="submit"
          class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 "
        >Confirm Order</button>
        <br />
      </form>
</section>



<script>
   function verify_payment(payment,order){
    $.ajax({
        url:'/verify_payment',
        data:{
            payment,
            order
        },
        method:'post',
        success:(response)=>{
          if(response.status){
            location.href='/order_success'
          }
          else{
            alert('payment error')
          }

        }
    })
 }

 function razorpay_payment(order){
    var options = {
    "key": "rzp_test_pxesEGDrhbZPaE", // Enter the Key ID generated from the Dashboard
    "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "Handy Cart", //your business name
    "description": "Test Transaction",
    "image": "https://example.com/your_logo",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
       // alert(response.razorpay_payment_id);
       //alert(response.razorpay_order_id);
       //alert(response.razorpay_signature)
        verify_payment(response,order)
    },
    "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information, especially their phone number
        "name": "Gaurav Kumar", //your customer's name
        "email": "gaurav.kumar@example.com", 
        "contact": "9000090000"  //Provide the customer's phone number for better conversion rates 
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
};

var rzp1 = new Razorpay(options);
    rzp1.open();

 }
/*
  $('#checkout_form').submit((e) => {
     e.preventDefault()
      $.ajax({ url:'/place_order',
       method: 'post', 
       data: $('#checkout_form').serialize(),
       success: (response) => { 

        if (response.cod_success)
        { location.href ='/order_success' } 
        else{ 
            razorpay_payment(response) } 
            } ,
        error:(err)=>{
          console.log('place_order.hbs:128',err)
        }  
            })  
             })
*/
$('#checkout_form').submit(async (e) => {
  e.preventDefault();

  try {
    const response = await $.ajax({
      url: '/place_order',
      type:'post',
      data: $('#checkout_form').serialize(),
    });

    if (response.cod_success) {
      let order_id=response.order_id
      //use backticks to pass variables in string in js
      location.href = `/order_success?order_id=${order_id}`;
    } else {
      razorpay_payment(response); 
    }

  } catch (error) {
    alert('An error occurred while placing the order. Please try again later.'); 
  }
});
</script>